<!DOCTYPE html>
<html>
<head>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link type="text/css" rel="stylesheet" href="{{ 'assets/style.css' | relative_url }}"  media="screen,projection"/>
  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700,900" rel="stylesheet">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.9/css/all.css" integrity="sha384-5SOiIsAziJl6AWe0HWRKTXlfcSHKmYV4RBF18PPJ173Kzn7jzMyFuTtk8JA7QQG1" crossorigin="anonymous">
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body>
  <nav class="navbar is-dark is-fixed-top" id="main-nav" role="navigation" aria-label="main navigation">
      <div class="container">
        <div class="navbar-brand flex-center has-flex-left-touch">
          <a class="navbar-item" href="{{ site.baseurl }}/">
            <img class="sharpen" src="{{ "/assets/img/logo-white.png" | relative_url }}" alt="FlyAR - Experience your city on a new level">
          </a>
          <div class="navbar-burger" data-target="navMenu">
            <span></span>
            <span></span>
            <span></span>
          </div>
        </div>
        <div class="navbar-menu" id="navMenu">
          <div class="navbar-start flex-center is-uppercase">
            <a class="navbar-item" href="{{ site.baseurl }}/headset/">
              Headset
            </a>
            <a class="navbar-item" href="{{ site.baseurl }}/experience/">
              Experience
            </a>
            <a class="navbar-item" href="{{ site.baseurl }}/location/">
              Locations
            </a>
            <a class="navbar-item" href="{{ site.baseurl }}/about/">
              About
            </a>
          </div>
        </div>
      </div>
    </nav>