<!DOCTYPE html>
<html>
<head>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link type="text/css" rel="stylesheet" href="{{ 'assets/style.css' | relative_url }}"  media="screen,projection"/>

  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body>
  <nav class="navbar is-dark is-fixed-top" id="main-nav" role="navigation" aria-label="main navigation">
      <div class="container">
        <div class="navbar-brand flex-center has-flex-left-touch">
          <a class="navbar-item" href="/">
            <img class="sharpen" src="{{ "/assets/img/logo-white.png" | relative_url }}" alt="FlyAR - Experience your city on a new level">
          </a>
          <div class="navbar-burger" data-target="navMenu">
            <span></span>
            <span></span>
            <span></span>
          </div>
        </div>
        <div class="navbar-menu has-opacity-pointer-touch" id="navMenu">
          <div class="navbar-start flex-center is-uppercase">
            <a class="navbar-item">
              Headset
            </a>
            <a class="navbar-item">
              Experience
            </a>
            <a class="navbar-item">
              Locations
            </a>
            <a class="navbar-item">
              About
            </a>
          </div>
        </div>
      </div>
    </nav>