---
---

@import "utilities/_all";
@import "base/_all";
@import "elements/_all";
@import "components/_all";
@import "grid/_all";
@import "layout/_all";

#main-nav{
    opacity: .8;
}
/* 
nav#main-nav ul {
    text-align: center;
    height: auto;
    line-height: 2.5em;
}
nav#main-nav ul li {
    display: inline;
    float: none;
}
nav#main-nav ul li a {
    display: inline-block;
    font-weight: 700;
    text-transform: uppercase;
}

nav#main-nav .brand-logo{
    display: block;
    text-align: center;
    position: relative;
    line-height: 0;
    padding: 10px 0 0 0;
    margin: 0;
}
.brand-logo img{
    height: 60px;
    width: 151px;
}

#splash-vid video{
    width: 100%;
}
div.hero{
    position: relative;
}
div.slogan{
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}
div.slogan h1{
    text-align: center;
    width: 65%;
    color: #fff;
    font-size: 7vw;
    font-weight: 800;
}

#mobile-nav{
    display: hidden;
} */