---
---

@import "utilities/_all";
@import "base/_all";
@import "elements/_all";
@import "components/_all";
@import "grid/_all";
@import "layout/_all";


@font-face {
    font-family: "Product Sans";
    src: url('{{ "/assets/fonts/product-sans/Product Sans Regular.ttf" | relative_url }}');
}
@font-face {
    font-family: "Product Sans";
    src: url('{{ "/assets/fonts/product-sans/Product Sans Bold.ttf" | relative_url }}');
    font-weight: bold;
}


.sharpen{
    //image-rendering: -moz-crisp-edges;         /* Firefox */
    //image-rendering:   -o-crisp-edges;         /* Opera */
    //image-rendering: crisp-edges;
    //-ms-interpolation-mode: nearest-neighbor;  /* IE (non-standard property) */
}

.flex-center{
    justify-content: center;
}

#main-nav{
    background-color: rgba(0,0,0, .8);
    font-family: "Product Sans";
    font-weight: bold;
    letter-spacing: 0.8px;
    text-transform: uppercase;
    font-size: .8rem;
}

#main-nav.navbar > .container{
    display: initial;
}

#main-nav.navbar > .container .navbar-brand{
    margin-left: 0;

}

#main-nav .navbar-brand > .navbar-item{
    order: 2;
}

#main-nav .navbar-brand > .navbar-item img{
    max-height: 2.25rem;
}

#main-nav .navbar-brand > .navbar-burger{
    order: 1;
    margin-left: initial;
}

#main-nav .navbar-start{
    width: 100%;
}

#main-nav .navbar-menu{
    display: block;
    position: fixed;
    top: 52px;
    left: 0;
    width: 100%;
    background-color: rgba(0,0,0, .8);
    transition: opacity .5s ease;
}

#main-nav .is-active{
    opacity: 1;
    pointer-events: all;
}

#main-nav a:hover{
    background-color: inherit;
}

#main-nav.navbar.is-dark a{
    color: #ADADAD;
}
#main-nav.navbar.is-dark a:hover{
    color: #FFF;
}

/* 
nav#main-nav ul {
    text-align: center;
    height: auto;
    line-height: 2.5em;
}
nav#main-nav ul li {
    display: inline;
    float: none;
}
nav#main-nav ul li a {
    display: inline-block;
    font-weight: 700;
    text-transform: uppercase;
}

nav#main-nav .brand-logo{
    display: block;
    text-align: center;
    position: relative;
    line-height: 0;
    padding: 10px 0 0 0;
    margin: 0;
}
.brand-logo img{
    height: 60px;
    width: 151px;
}
*/

#splash-vid{
    position: relative;
}

#splash-vid video{
    width: 100%;
}

div.slogan{
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}
div.slogan h1{
    text-align: center;
    width: 65%;
    color: #fff;
    font-size: 7vw;
    font-weight: 800;
}
