---
---

@import "utilities/_all";
@import "base/_all";
@import "elements/_all";
@import "components/_all";
@import "grid/_all";
@import "layout/_all";


@font-face {
    font-family: "Product Sans";
    src: url('{{ "/assets/fonts/product-sans/Product Sans Regular.ttf" | relative_url }}');
}
@font-face {
    font-family: "Product Sans";
    src: url('{{ "/assets/fonts/product-sans/Product Sans Bold.ttf" | relative_url }}');
    font-weight: bold;
}


.sharpen{
    //image-rendering: -moz-crisp-edges;         /* Firefox */
    //image-rendering:   -o-crisp-edges;         /* Opera */
    //image-rendering: crisp-edges;
    //-ms-interpolation-mode: nearest-neighbor;  /* IE (non-standard property) */
}

.flex-center{
    justify-content: center;
}


#main-nav{
    background-color: rgba(0,0,0, .8);
    font-family: "Product Sans";
    font-weight: normal;
    letter-spacing: 0.8px;
    text-transform: uppercase;
    font-size: .8rem;
    transition: all .75s ease, font-size 1ms;
}

#main-nav.home-page.isTop{
    background-color: transparent;
}

#main-nav.home-page.navbar.is-dark.isTop a{
    color: #fff;
    opacity: .8;
}

#main-nav.home-page.navbar.is-dark.isTop a:hover{
    opacity: 1;
}

#main-nav.navbar{
    .container { justify-content: center; }
    .container .navbar-brand{
        margin-left: 0;
    }
}


#main-nav.navbar > .container .navbar-brand{
    margin-left: 0;
}

#main-nav .navbar-brand > .navbar-item{
    order: 2;
}

#main-nav .navbar-brand > .navbar-item img{
    max-height: 1.75rem;
}

#main-nav .navbar-brand > .navbar-burger{
    order: 1;
    margin-left: initial;
}

#main-nav .navbar-menu{
    transition: all .75s ease, background-color 1ms;
    margin-right: 0;
    flex-grow: 0;
}

#main-nav .is-active{
    opacity: 1;
    max-height: 200px;
}

#main-nav a:hover{
    background-color: inherit;
}

#main-nav.navbar.is-dark a{
    color: #ADADAD;
}
#main-nav.navbar.is-dark a:hover{
    color: #FFF;
}

#main-nav.scrollUp{
    transform: translateY(-90px);
    opacity: 0;
}

/* 
nav#main-nav ul {
    text-align: center;
    height: auto;
    line-height: 2.5em;
}
nav#main-nav ul li {
    display: inline;
    float: none;
}
nav#main-nav ul li a {
    display: inline-block;
    font-weight: 700;
    text-transform: uppercase;
}

nav#main-nav .brand-logo{
    display: block;
    text-align: center;
    position: relative;
    line-height: 0;
    padding: 10px 0 0 0;
    margin: 0;
}
.brand-logo img{
    height: 60px;
    width: 151px;
}
*/

#splash-vid{
    position: relative;
    line-height: 0;
}

#splash-vid video{
    width: 100%;
    line-height: 0;
}

div.slogan{
    left: 0;
    right: 0;
    height: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    z-index: 4;
}
.overlay{
    background-color: rgba(0,0,0, .15);
    position: absolute;
    z-index: 3;
    line-height: 0;
    height: 100%;
    width: 100%;
}

.about-us .overlay{
    background-color: rgba(0,0,0, .2);
}

div.slogan h1{
    font-family: 'Source Sans Pro';
    text-align: center;
    width: 100%;
    color: #fff;
    font-size: 6vw;
    font-weight: 900;
    position: relative;
}

.headset-tagline.section{
    //adding-top: 0;
}

.headset-tagline, .cities{
    .container{
        max-width: 960px;
    }
    h1{ 
        line-height: 4rem;
        font-size: 80px;
        color: #000;
        margin-bottom: 1rem;
    }
    p{
        font-size: 1.75rem;
    }
}

.controller img{
    margin-bottom: 2rem;
}

.experience-list{
    padding: 0;
    .columns{
        text-align: center;
    }
    img{
        width: 70%;
    }
}

.cities img{
    width: 100%;
    margin-top: 3rem;
}

a.button.addcity{
    margin-top: 1.25rem;
}

#home-page{

    .product, .experience {

        h1{
            font-weight: 100;
            margin: 3rem 0;
            font-size: 80px;
        }
        h2{
            font-weight: normal;
            font-size: 2.5rem;
            margin: 1.5rem 0 .5rem 0;
            font-family: "Product Sans";
            color: #000;
        }
    }

    .experience{
        margin-top: 1rem;

        img { display : block; }
        .hero{ background-color: #161417; }
    }

    section.experience{
        margin-top: 2rem;
    }
}


#about-us{
    margin: 0 0 1.5rem 0;
}

#about-us {
    margin: 0 0 1.5rem 0;
    .column{
        margin-top: 0;
    }
    .columns, .card{
        height: 100%;
    }
    .card{
        height: 100%;
    }
}

.section.about{
    padding-bottom: 0;
}

.section.contact{
    padding-top: 2rem;
}

.company-info{
    font: 200 3vw 'Source Sans Pro';
    line-height: 4.5vw;
    margin-bottom: 0;
    padding-bottom: 0;
}  

#map{
    width: 100%;
    height: 800px;
}

.company-info p{
    margin-bottom: .6rem;
}

.company-info .logo{
    width: 35%;
    margin: 2rem auto;
    display: block;
}

.about-us .page-title{
    margin-top: 58px;
}


@include touch{
    #main-nav.home-page.isTop{
        background-color: rgba(0,0,0, .8);
    }

    #main-nav.home-page.navbar.is-dark.isTop a{
        color: #ADADAD;
        font-size: .8rem;
    }
    
    #main-nav.home-page.navbar.is-dark.isTop a:hover{
        font-weight: normal;
        color: #fff;
    }

    #main-nav .navbar-menu{
        display: block;
        position: fixed;
        top: 52px;
        padding: 0;
        left: 0;
        width: 100%;
        opacity: 0;
        max-height:0;
        overflow: hidden;
        background-color: rgba(0,0,0, .8);
    }

    #main-nav .navbar-menu.is-active{
        opacity: 1;
        max-height: 160px;
        padding: .5rem 0;
    }

    #main-nav .navbar-brand .navbar-item{
        display: flex;
        width: 100%;
        justify-content: center;
        flex-grow: 1;
        position: absolute;
    }

    .headset-tagline, .cities{
        h1{ 
            line-height: 2.5rem;
            font-size: 2rem !important;
            color: #000;
        }
        p{
            font-size: 1.4rem;
            font-weight: 100;
        }
    }

}

@include mobile{

    #product .columns{
        margin-bottom: 3rem;
    }

    #home-page #product h2{
        font-size: 9vw;
        text-align: center;
        line-height: 10.5vw;
    }

    .city .hero h3{
        text-align: center;
        font: 800 6vw 'Source Sans Pro';
        color: #fff;
        margin-top: 1rem;
        bottom: 30px;
        position: absolute;
        left: 70px;
    }

    .about-us div.slogan{
        left: initial;
        right: initial;
        height: auto;
        position: initial;
        padding: 100px 20px 20px 20px
    }

    .about-us .title{
        color: #363636;
        font-size: 9vw;
    }

    .company-info{
        font: 200 5vw 'Source Sans Pro';
        line-height: 8vw;
        padding: 1rem;
        margin-bottom: 1rem;
    } 

    .company-info p{
        margin-bottom: .6rem;
    }
    
    .company-info .logo{
        width: 50%;
        margin: 4rem auto 2rem auto;
        display: block;
    }
}
