{% include header.html %}


<nav class="navbar is-dark is-fixed-top" id="main-nav" role="navigation" aria-label="main navigation">
  <div class="container">
    <div class="navbar-brand flex-center">
      <a class="navbar-item" href="/">
        <img class="sharpen" src="{{ "/assets/img/logo-white.png" | relative_url }}" alt="FlyAR - Experience your city on a new level">
      </a>
      <div class="navbar-burger">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>
    <div class="navbar-menu is-active">
      <div class="navbar-start flex-center is-uppercase">
        <a class="navbar-item">
          Headset
        </a>
        <a class="navbar-item">
          Experience
        </a>
        <a class="navbar-item">
          Locations
        </a>
        <a class="navbar-item">
          About
        </a>
      </div>
    </div>
  </div>
</nav>


<!-- <nav id="main-nav" class="nav-center black">
  <div class="nav-wrapper">
    <i class="material-icons">menu</i>
    <a href="#" class="brand-logo"><img src="{{ "/assets/img/logo-white.png" | relative_url }}"></a>
    <ul class="center">
      <li><a href="sass.html">Headset</a></li>
      <li><a href="badges.html">Experience</a></li>
      <li><a href="collapsible.html">Locations</a></li>
      <li><a href="collapsible.html">Gallery</a></li>
      <li><a href="collapsible.html">About</a></li>
    </ul>
  </div>
</nav> -->

<!-- <nav id="main-nav" class="nav-center black">
  <div class="nav-wrapper">
    <a href="#" class="brand-logo"><img src="{{ "/assets/img/logo-white.png" | relative_url }}"></a>
    <ul id="nav-mobile" class="center hide-on-small-and-down">
      <li><a href="sass.html">Headset</a></li>
      <li><a href="badges.html">Experience</a></li>
      <li><a href="collapsible.html">Locations</a></li>
      <li><a href="collapsible.html">Gallery</a></li>
      <li><a href="collapsible.html">About</a></li>
    </ul>
  </div>
</nav> -->
 
<div>
     {{ content }} 
</div>
 
<footer class="page-footer">
  <div class="container">
    
  </div>
</footer>
 
{% include footer.html %}